.about-project {
  background-color: #202020;
  padding: 110px 70px 104px 70px;
}

.about-project__column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 4px;
  gap: 30px;
}

.about-project__column-item {
  max-width: 550px;
}

.about-project__column-title {
  max-width: 550px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0 0 26px 0;
}

.about-project__column-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.about-project__plan {
  display: grid;
  justify-content: center;
  grid-template-columns: 20% 80%;
  grid-template-rows: 50% 50%;
  height: 72px;
  color: #8b8b8b;
  margin-top: 110px;
}

.about-project__plan-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-project__plan-backend {
  background: #3ddc84;
  color: black;
}

.about-project__plan-frontend {
  background: #303030;
  color: white;
}

@media screen and (max-width: 800px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__column-text {
    max-width: 319px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__column-title {
    max-width: 319px;
    margin: 0 0 22px 0;
  }

  .about-project__plan {
    margin-top: 93px;
  }
}

@media screen and (max-width: 525px) {
  .about-project__column {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 0;
    gap: 56px;
  }

  .about-project__column-text {
    max-width: 319px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-project {
    padding: 54px 18px 60px 18px;
    max-height: 641px;
  }

  .about-project__column-title {
    margin: 0 0 16px 0;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
  }

  .about-project__plan {
    grid-template-columns: 36% 64%;
    margin-top: 60px;
  }

  .about-project__plan-item {
    font-size: 11px;
    line-height: 13px;
  }
}
