.techs {
  background: #272727;
  padding: 100px 70px;
  height: 425px;
}

.techs__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}

.techs__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0;
}

.techs__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 460px;
  margin: 0;
  margin-top: 26px;
}

.technology__list {
  list-style: none;
  margin: 100px 0 0;
  padding: 0;
  width: 100%;
  max-width: 690px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  gap: 10px;
}

.technology__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  height: 60px;
  background-color: #303030;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ffffff;
  transition: transform linear 0.8s;
}

.technology__list-item:hover {
  transform: scale(1.2);
  transition: transform linear 0.8s;
}

@media screen and (max-width: 800px) {
  .techs {
    padding: 90px 50px;
    height: 387px;
  }

  .technology__list {
    margin: 0 10px;
    max-width: 668px;
    margin-top: 83px;
    grid-template-columns: repeat(auto-fit, 84px);
  }

  .techs__container {
    padding-top: 14px;
  }

  .technology__list-item {
    max-width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }

  .techs__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 525px) {
  .techs {
    background: #202020;
    padding: 60px 18px;
    height: 520px;
  }
  .techs__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.04em;
    margin: 0;
  }
  .techs__subtitle {
    font-size: 11px;
    line-height: 16px;
    margin-top: 24px;
  }
  .techs__container {
    padding-top: 0;
  }

  .technology__list {
    list-style: none;
    margin: 50px 0 0;
    padding: 0;
    width: 100%;
    max-width: 690px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 84px);
    gap: 10px;
  }
}
